<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="For fun project suite" verbose="1" >

    <test name="Test" enabled="false">
        <classes>
            <class name="tests.test"/>
        </classes>
    </test>


    <test name="Login" enabled="false">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="positiveLoginTest"/>
                    <include name="negativeLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Feed" enabled="true">
        <parameter name="wordToSearch" value="Новый год"/>
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="positiveLoginTest"/>
                    <include name="negativeLoginTest"/>
                </methods>
            </class>
            <class name="tests.SearchTests">
                <methods>
                    <include name="searchAndSendStatistics"/>
                    <include name="searchAndPlayAudio"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>