<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="For fun project suite" verbose="1" >

    <listeners>
        <listener class-name="tests.BaseTest" />
    </listeners>

    <test name="Feed" enabled="true">
        <parameter name="wordToSearch" value="Christmas"/>
        <parameter name="picturesToSave" value="3"/>

        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="positiveLoginTest"/>
                </methods>
            </class>
            <class name="tests.ForFunTests">
                <methods>
                    <include name="myAwesomeScenario"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>